
/*  */
.main-login {
  width: 100vw;
  height: 100vh; 
  display:flex;
  justify-content:center;
  align-items:center;
}
.card-login {
  min-width:300px;
  min-height:300px;
  background-color:#fff;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-bottom: 25px;
}
.brand-login {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #e4e9ec;
  margin-bottom: 15px;
}
.brand-login svg.login-logo {
  height: 30px;
}
form.form-itens {
  padding: 25px;
}
.wrapper-forgot-password {
  padding-bottom: 20px;
  text-align: right;
}
a.forgot-password {
  color: #1778bd;
  font-size: 12px;
  padding: 10px 0;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}
a.forgot-password:hover {
  color: #073f67;
  text-decoration: underline;
}
a.btn-login {
  outline: 0;
  width: 100%;
  font-size: 16px;
  background-color:#073f67;
  color: #fff;
  padding: 10px 0;
}
a.btn-login:hover {
  outline: 0;
  background-color:#1778bd;
  color: #fff;
}
.group { 
  position: relative; 
  margin-bottom: 35px; 
}
input {
  font-size:18px;
  padding:10px 10px 2px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #c3c9d8;
}
input:focus {
  outline:none;
}
label {
  color:#073f67; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
input:focus ~ label, input:valid ~ label {
  top:-10px;
  font-size:14px;
  color:#1778bd;
}
.bar 	{
  position:relative;
  display:block;
  width:300px;
}
.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#1778bd; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
	from { background:#1778bd; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#1778bd; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#1778bd; }
  to 	{ width:0; background:transparent; }
}